# APP ENVs
APP_PORT=8000
NODE_ENV=
JWT_KEY=
# default 60 and 5
WINDOW_SIZE_IN_SECONDS=
MAX_REQUESTS=

# REDIS ENVs
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_HOST=redis

# MONGODB ENVs
MONGODB_ROOT_USER=admin                 # standard admin username
MONGODB_ROOT_PASSWORD=   
MONGODB_DATABASE=pemilos                # standard database name
MONGODB_HOST=mongo_db                   # same as mongodb name in docker compose
MONGODB_PORT=27017                      # default mongodb port

# Push3r settings
PUSHER_APPID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=

# expose metric from backend for grafana and promtheus
NODE_EXPORTER_PORT=9100                 # default node exporter port
NODE_EXPORTER_HOST=node_exporter        # same as node exporter name in docker compose

# ENV for FrontEnd
VITE_API_URL=
VITE_PUSHER_APPID=
VITE_PUSHER_KEY=
VITE_PUSHER_SECRET=
VITE_PUSHER_CLUSTER=