**/node_modules/
**/dist/
# Environment files
.env
.env.prod
.env.local
.env.*.local

# Keep .env.dev and .env.example committed
redis.conf
mongodb_data/
pemilos-local/
.idea
**/logs/
/config/mongo/init.js